@charset "UTF-8";
@font-face {
  font-family: 'calibreregular';
  src: url("webfontkit/calibreregular-webfont.woff2") format("woff2"), url("webfontkit/calibreregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'calibrebold';
  src: url("webfontkit/calibrebold-webfont.woff2") format("woff2"), url("webfontkit/calibrebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'calibremedium';
  src: url("webfontkit/calibremedium-webfont.woff2") format("woff2"), url("webfontkit/calibremedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'calibresemibold';
  src: url("webfontkit/calibresemibold-webfont.woff2") format("woff2"), url("webfontkit/calibresemibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'calibrelight';
  src: url("webfontkit/calibrelight-webfont.woff2") format("woff2"), url("webfontkit/calibrelight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'calibrethin';
  src: url("webfontkit/calibrethin-webfont.woff2") format("woff2"), url("webfontkit/calibrethin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-calibre-reguler: 'calibreregular';
  --font-calibre-thin: 'calibrethin';
  --font-calibre-light: 'calibrelight';
  --font-calibre-semibold: 'calibresemibold';
  --font-calibre-mediumbold: 'calibremedium';
  --font-calibre-bold: 'calibrebold';
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1; }

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px; }

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition); }

a.inline-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green); }
  a.inline-link:after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    transition: var(--transition);
    opacity: 0.5; }

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: #0a192f;
  color: var(--slate);
  font-family: var(--font-calibre-reguler);
  font-size: var(--fz-xl);
  line-height: 1.3;
  box-sizing: border-box; }

body * {
  box-sizing: border-box; }

p > a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green); }

.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important; }
  @media (max-width: 999px) {
    .header {
      padding: 0px 25px; } }
  .header .header-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12; }
    .header .header-container .menu-toggle {
      z-index: 999;
      position: relative; }
      .header .header-container .menu-toggle #menuToggle {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        z-index: 10;
        margin-right: -15px;
        padding: 15px;
        border: 0px;
        background-color: transparent;
        color: inherit;
        text-transform: none;
        transition-timing-function: linear;
        transition-duration: 0.15s;
        transition-property: opacity, filter;
        cursor: pointer; }
        .header .header-container .menu-toggle #menuToggle .ham-box {
          display: inline-block;
          position: relative;
          width: var(--hamburger-width);
          height: 24px; }
          .header .header-container .menu-toggle #menuToggle .ham-box .ham-box-inner {
            position: absolute;
            top: 50%;
            right: 0px;
            width: var(--hamburger-width);
            height: 2px;
            border-radius: var(--border-radius);
            background-color: var(--green);
            transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
            transform: rotate(0deg); }
            .header .header-container .menu-toggle #menuToggle .ham-box .ham-box-inner:before {
              width: 120%;
              top: -10px;
              opacity: 1;
              transition: var(--ham-before);
              content: "";
              display: block;
              position: absolute;
              left: auto;
              right: 0px;
              height: 2px;
              border-radius: 4px;
              background-color: var(--green);
              transition-timing-function: ease;
              transition-duration: 0.15s;
              transition-property: transform; }
            .header .header-container .menu-toggle #menuToggle .ham-box .ham-box-inner:after {
              width: 80%;
              bottom: -10px;
              transform: rotate(0deg);
              transition: var(--ham-after);
              content: "";
              display: block;
              position: absolute;
              left: auto;
              right: 0px;
              height: 2px;
              border-radius: 4px;
              background-color: var(--green);
              transition-timing-function: ease;
              transition-duration: 0.15s;
              transition-property: transform; }
          .header .header-container .menu-toggle #menuToggle .ham-box .ham-box-inner.toggle {
            position: absolute;
            top: 50%;
            right: 0px;
            width: var(--hamburger-width);
            height: 2px;
            border-radius: var(--border-radius);
            background-color: var(--green);
            transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
            transform: rotate(225deg); }
            .header .header-container .menu-toggle #menuToggle .ham-box .ham-box-inner.toggle:before {
              width: 100%;
              top: 0px;
              opacity: 0;
              transition: var(--ham-before-active); }
            .header .header-container .menu-toggle #menuToggle .ham-box .ham-box-inner.toggle:after {
              width: 100%;
              bottom: 0px;
              transform: rotate(-90deg);
              transition: var(--ham-after-active); }
      @media (min-width: 999px) {
        .header .header-container .menu-toggle {
          display: none; } }
    .header .header-container .navigation {
      display: flex;
      -webkit-box-align: center;
      align-items: center; }
      .header .header-container .navigation .menu {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        list-style: none; }
        @media (max-width: 999px) {
          .header .header-container .navigation .menu {
            display: block; } }
        .header .header-container .navigation .menu li {
          margin: 0px 5px;
          position: relative;
          counter-increment: item 1;
          font-size: var(--fz-md); }
          @media (max-width: 999px) {
            .header .header-container .navigation .menu li {
              position: relative;
              margin: 0px auto 20px;
              counter-increment: item 1;
              font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg)); } }
          .header .header-container .navigation .menu li a {
            padding: 10px;
            font-family: var(--font-calibre-reguler);
            display: block; }
            .header .header-container .navigation .menu li a:before {
              content: "0" counter(item) ".";
              margin-right: 5px;
              color: var(--green);
              font-size: var(--fz-sm);
              text-align: right; }
            .header .header-container .navigation .menu li a:hover, .header .header-container .navigation .menu li a:focus {
              color: var(--green); }
            @media (max-width: 999px) {
              .header .header-container .navigation .menu li a {
                display: inline-block;
                text-decoration: none;
                text-decoration-skip-ink: auto;
                color: inherit;
                position: relative;
                transition: var(--transition);
                width: 100%;
                padding: 3px 20px 20px;
                text-align: center;
                font-size: calc(var(--fz-ms) + 1vw); }
                .header .header-container .navigation .menu li a:before {
                  display: block;
                  text-align: center;
                  font-size: var(--fz-md); } }
          .header .header-container .navigation .menu li .btn {
            color: var(--green);
            background-color: transparent;
            border: 1px solid var(--green);
            border-radius: var(--border-radius);
            padding: 0.75rem 1rem;
            font-family: var(--font-mono);
            line-height: 1;
            text-decoration: none;
            cursor: pointer;
            transition: var(--transition);
            font-size: var(--fz-xs); }
            @media (max-width: 999px) {
              .header .header-container .navigation .menu li .btn {
                color: var(--green);
                background-color: transparent;
                border: 1px solid var(--green);
                border-radius: var(--border-radius);
                font-size: var(--fz-sm);
                font-family: var(--font-mono);
                line-height: 1;
                text-decoration: none;
                cursor: pointer;
                transition: var(--transition);
                padding: 18px 50px;
                margin: 10% auto 0px;
                width: max-content; } }
          .header .header-container .navigation .menu li .btn::before {
            content: "";
            display: none; }
          .header .header-container .navigation .menu li .btn:hover {
            background-color: var(--green-tint);
            outline: none; }
        .header .header-container .navigation .menu li:last-child {
          margin-left: 15px; }
      @media (max-width: 999px) {
        .header .header-container .navigation {
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          position: fixed;
          z-index: 998;
          top: 0px;
          bottom: 0px;
          right: 0px;
          padding: 50px 10px;
          width: 400px;
          max-width: 100%;
          height: 100vh;
          outline: 0px;
          background-color: var(--light-navy);
          box-shadow: -10px 0px 30px -15px var(--navy-shadow);
          transform: translateX(100vw);
          visibility: hidden;
          transition: var(--transition); } }
    .header .header-container .menu-toggle {
      transform: translateX(0vw);
      visibility: visible; }
    .header .header-container .logo-text {
      margin: 0;
      font-family: var(--font-calibre-bold);
      font-size: 20px;
      text-transform: uppercase;
      color: var(--green);
      border: 3px solid var(--green);
      padding: 10px 12px 4px 12px;
      letter-spacing: 0.4px; }
    .header .header-container .logo-subtitle {
      font-size: var(--fz-xs);
      line-height: 1.6;
      margin-left: auto;
      display: block;
      text-align: right; }

.container {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  display: block; }
  @media (min-width: 999px) {
    .container {
      padding: 0px 150px; } }
  @media (max-width: 999px) {
    .container {
      padding: 0px 25px; } }

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px; }
  @media screen and (max-width: 766px) {
    section {
      padding: 60px 0px; } }

.hero-section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px; }
  .hero-section h1 {
    margin: 0px 0px 30px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400; }
    @media screen and (max-width: 766px) {
      .hero-section h1 {
        margin: 0px 0px 20px 2px; } }
  .hero-section h3 {
    margin-top: 5px;
    color: var(--slate);
    line-height: 0.9; }
  .hero-section .big-heading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px); }
    @media screen and (max-width: 766px) {
      .hero-section .big-heading {
        margin: 6px 0px 6px 0px;
        font-size: 30px; } }
  .hero-section p {
    margin: 20px 0px 0px;
    max-width: 540px; }
    @media screen and (max-width: 766px) {
      .hero-section p {
        font-size: var(--fz-ms); } }
  .hero-section p:last-child, .hero-section p:last-of-type {
    margin: 0px; }
  .hero-section .email-link {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 50px; }

section .numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap; }
  section .numbered-heading:before {
    position: relative;
    bottom: 4px;
    counter-increment: section;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
    font-weight: 400; }
  section .numbered-heading:after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy); }
  @media screen and (max-width: 1080px) {
    section .numbered-heading:after {
      width: 200px; } }
  @media screen and (max-width: 800px) {
    section .numbered-heading:after {
      width: 100%;
      margin-left: 10px; } }

#about .inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px; }
  @media screen and (max-width: 768px) {
    #about .inner {
      display: block; } }
#about ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none; }
  #about ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: arial;
    font-size: var(--fz-xs); }
    #about ul.skills-list li:before {
      content: "▹";
      position: absolute;
      left: 0px;
      color: var(--green);
      font-size: var(--fz-md);
      line-height: 12px; }
#about .about__style-pic {
  position: relative;
  max-width: 300px; }
  @media screen and (max-width: 768px) {
    #about .about__style-pic {
      margin: 50px auto 0px;
      width: 70%; } }
  #about .about__style-pic .wrapper {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--green); }
    #about .about__style-pic .wrapper:hover, #about .about__style-pic .wrapper:focus {
      box-shadow: 0 20px 30px -15px var(--navy-shadow); }
    #about .about__style-pic .wrapper:before {
      top: 0px;
      left: 0px;
      background-color: var(--navy);
      mix-blend-mode: screen; }
    #about .about__style-pic .wrapper:before, #about .about__style-pic .wrapper:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      transition: var(--transition); }
    #about .about__style-pic .wrapper:after {
      border: 2px solid var(--green);
      top: 20px;
      left: 20px;
      z-index: -1; }
    #about .about__style-pic .wrapper:hover::after, #about .about__style-pic .wrapper:focus::after {
      top: 15px;
      left: 15px; }
    #about .about__style-pic .wrapper .gatsby-image-wrapper {
      position: relative;
      overflow: hidden; }
    #about .about__style-pic .wrapper .gatsby-image-wrapper-constrained {
      display: inline-block; }
    #about .about__style-pic .wrapper .img {
      position: relative;
      border-radius: var(--border-radius);
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1);
      transition: var(--transition); }
    #about .about__style-pic .wrapper .gatsby-image-wrapper [data-main-image] {
      opacity: 0;
      transform: translateZ(0);
      transition: opacity .25s linear;
      will-change: opacity; }
    #about .about__style-pic .wrapper .gatsby-image-wrapper {
      width: 100%;
      max-width: 100%;
      vertical-align: middle; }
      #about .about__style-pic .wrapper .gatsby-image-wrapper img {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: 0;
        max-width: none;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover; }
    #about .about__style-pic .wrapper:hover .gatsby-image-wrapper {
      filter: none;
      mix-blend-mode: normal; }
    @media screen and (max-width: 768px) {
      #about .about__style-pic .wrapper .gatsby-image-wrapper {
        filter: none;
        mix-blend-mode: normal; } }

.jobs__styledJobs .inner {
  display: flex;
  min-height: 340px; }
  @media (max-width: 766px) {
    .jobs__styledJobs .inner {
      display: block; } }
.jobs__styledJobs .jobs__styledTabList {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none; }
  @media (max-width: 600px) {
    .jobs__styledJobs .jobs__styledTabList {
      display: flex;
      overflow-x: auto;
      width: calc(100% + 100px);
      padding-left: 50px;
      margin-left: -50px;
      margin-bottom: 30px; } }
  @media (max-width: 480px) {
    .jobs__styledJobs .jobs__styledTabList {
      width: calc(100% + 50px);
      padding-left: 25px;
      margin-left: -25px; } }
  .jobs__styledJobs .jobs__styledTabList .jobs__styledTabButton {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: var(--tab-height);
    padding: 0px 20px 2px;
    border-left: 2px solid var(--lightest-navy);
    background-color: transparent;
    color: var(--slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    text-align: left;
    white-space: nowrap; }
    .jobs__styledJobs .jobs__styledTabList .jobs__styledTabButton:hover, .jobs__styledJobs .jobs__styledTabList .jobs__styledTabButton:focus {
      background-color: var(--light-navy); }
    .jobs__styledJobs .jobs__styledTabList .jobs__styledTabButton:hover, .jobs__styledJobs .jobs__styledTabList .jobs__styledTabButton:active, .jobs__styledJobs .jobs__styledTabList .jobs__styledTabButton:focus {
      color: var(--green);
      outline: 0px; }
    @media (max-width: 768px) {
      .jobs__styledJobs .jobs__styledTabList .jobs__styledTabButton {
        padding: 0px 15px 2px; } }
    @media (max-width: 600px) {
      .jobs__styledJobs .jobs__styledTabList .jobs__styledTabButton {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        min-width: 120px;
        padding: 0px 15px;
        border-left: 0px;
        border-bottom: 2px solid var(--lightest-navy);
        text-align: center; } }
  .jobs__styledJobs .jobs__styledTabList .jobs__styledHighlight {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 2px;
    height: var(--tab-height);
    border-radius: var(--border-radius);
    background: var(--green);
    transform: translateY(calc(0 * var(--tab-height)));
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; }
    @media (max-width: 766px) {
      .jobs__styledJobs .jobs__styledTabList .jobs__styledHighlight {
        top: auto;
        bottom: 0px;
        width: 100%;
        max-width: var(--tab-width);
        height: 2px;
        margin-left: 50px;
        transform: translateX(calc(0 * var(--tab-width))); } }
.jobs__styledJobs .jobs__styledTabPanels {
  position: relative;
  width: 100%;
  margin-left: 20px; }
  @media (max-width: 766px) {
    .jobs__styledJobs .jobs__styledTabPanels {
      margin-left: 0; } }
  .jobs__styledJobs .jobs__styledTabPanels .jobs__styledTabPanel {
    width: 100%;
    height: auto;
    padding: 10px 5px; }
    .jobs__styledJobs .jobs__styledTabPanels .jobs__styledTabPanel h3 {
      margin-bottom: 2px;
      font-size: var(--fz-xxl);
      font-weight: 500;
      line-height: 1.3; }
      .jobs__styledJobs .jobs__styledTabPanels .jobs__styledTabPanel h3 .company {
        color: var(--green); }
    .jobs__styledJobs .jobs__styledTabPanels .jobs__styledTabPanel .range {
      margin-bottom: 25px;
      color: var(--light-slate);
      font-family: var(--font-mono);
      font-size: var(--fz-xs); }
    .jobs__styledJobs .jobs__styledTabPanels .jobs__styledTabPanel ul {
      padding: 0px;
      margin: 0px;
      list-style: none;
      font-size: var(--fz-lg); }
      .jobs__styledJobs .jobs__styledTabPanels .jobs__styledTabPanel ul li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px; }
        .jobs__styledJobs .jobs__styledTabPanels .jobs__styledTabPanel ul li:before {
          content: "▹";
          position: absolute;
          left: 0px;
          color: var(--green); }

/*# sourceMappingURL=app.css.map */
